// === MarLukTar Theme Colors ===
$primary-color: #141f43;
$accent-color: #00ACC1;
$background-color: #F5F5F5;
$text-color: #212121;
$white: #FFFFFF;
$button-gradient-start: #151c1c;
$button-gradient-end: #333d6a;
